.products{


    display : flex;
    border-bottom: 1px solid lightgray;
    margin-bottom: 5px;
    padding-top: 5px;

}

.product_name{

    color:blue;
    font-weight:100;
}
.main-button{

    background-color: rgb(241, 213, 54);
    width: 150px;
    height: 30px;
    border:1px solid black;
    border-radius: 6px;
    cursor: pointer;                                
}